@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --font-display: 'Kalam', cursive;
  
  --color-primary-blue: #053b93;
  --color-dark-blue: #142459;
  --color-light-purple: #f3ebfa;
  --color-off-white: #fcfbf9;
}

@layer base {
  body {
    @apply font-sans text-gray-800 antialiased;
    background-color: var(--color-off-white);
  }
}
